# Dependencies
/node_modules

# Astro
/dist
/.astro
*.mjs.map
*.ts.map

# Claude
/claude
/claude-context
CLAUDE.md

# Env variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# System files
.DS_Store
